using Legerity.Pages;
using Legerity.Web;
using Legerity.Web.Elements;
using Legerity.Web.Elements.Core;
using OpenQA.Selenium;

namespace {{namespace}}
{
    /// <summary>
    /// Defines a Legerity page object that represents the application {{page}}.
    /// </summary>
    public class {{page}} : BasePage
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="{{page}}"/> class.
        /// </summary>
        public {{page}}()
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="{{page}}"/> class.
        /// </summary>
        /// <param name="app">The instance of the started application driver that will be used to drive the page interaction.</param>
        public {{page}}(WebDriver app)
            : base(app)
        {
        }

        /// <summary>
        /// Gets a given trait of the page to verify that the page is in view.
        /// </summary>
        protected override By Trait => {{- if string.contains trait.by "Id"}} By.Id("{{trait.value}}"); {{- else if string.contains trait.by "Name"}} By.Name("{{trait.value}}"); {{- else if string.contains trait.by "DataTestId"}} By.CssSelector("[data-testid='{{trait.value}}']"); {{- end}}
        {{~ for element in elements }}
        /// <summary>
        /// Gets the {{element.type}} that represents the {{element.name}} UI element of the page.
        /// </summary>
        public {{element.type}} {{element.name}} => FindElement({{- if string.contains element.by "Id"}}By.Id("{{element.value}}") {{- else if string.contains element.by "Name"}}By.Name("{{element.value}}") {{- else if string.contains element.by "DataTestId"}}By.CssSelector("[data-testid='{{element.value}}']") {{- end}});
        {{~ end ~}}
    }
}
